---
import { Button } from '@components/Button.jsx'
import SectionTitle from '@components/SectionTitle.astro';
---

<section id='speakers' class='break-words text-white py-24 mx-auto max-w-prose md:px-2'>
	<SectionTitle
		title='Agenda' />

	<div class='flex flex-wrap flex-col justify-center items-center'>
		<figure class='bg-zinc-900/90 rounded-full w-80 h-80 flex items-center justify-center border border-white/10 mb-4'>
			<svg xmlns='http://www.w3.org/2000/svg' width='208' height='208' fill='none'><path fill='#CCC' d='M128.031 199.16a15.293 15.293 0 0 0 4.322-10.66V93.334h16.387c.136 0 .26-.007.383-.033 5.727-.552 9.809-8.444 9.809-13.826 0-2.684-1.021-5.238-2.802-7.11-.071-.085-7.397-8.496-14.326-15.691-6.051-6.449-14.424-11.356-23.556-13.904 4.888-4.089 7.845-10.199 7.845-16.757 0-12.045-9.905-21.847-22.086-21.847-12.175 0-22.075 9.803-22.075 21.847a21.866 21.866 0 0 0 7.84 16.757c-9.016 2.515-17.219 7.325-23.537 13.877-6.962 7.222-14.28 15.633-14.287 15.646a10.4 10.4 0 0 0-2.86 7.182c0 5.383 4.075 13.274 9.802 13.826.123.02.254.032.383.032h16.4v9.647l-22.932 21.573c-4.602 5.376-3.959 13.494 1.346 18.024l27.69 25.682c4.907 4.199 14.624 4.037 19.877.104v20.13l.019.007c0 4.141 1.644 7.897 4.322 10.66H38.5v4.686h131v-4.686h-41.469ZM59.533 88.653c-2.678 0-5.772-5.557-5.772-9.184 0-1.482.56-2.892 1.645-4.043.072-.085 7.319-8.411 14.196-15.541 6.87-7.131 16.23-12.006 26.377-13.735.403-.026.8-.15 1.144-.383a2.352 2.352 0 0 0 1.066-1.97c0-.689-.299-1.339-.825-1.781a2.274 2.274 0 0 0-.813-.448 17.195 17.195 0 0 1-9.945-15.574c0-9.465 7.8-17.167 17.394-17.167 9.601 0 17.407 7.702 17.407 17.166a17.183 17.183 0 0 1-9.99 15.588 2.343 2.343 0 0 0-1.593 2.23 2.35 2.35 0 0 0 1.066 1.962c.364.234.767.357 1.183.377 10.205 1.748 19.792 6.734 26.351 13.728 6.87 7.13 14.112 15.45 14.248 15.613a5.738 5.738 0 0 1 1.58 3.965c0 3.627-3.095 9.184-5.766 9.184h-42.133v-21.3c1.878.676 3.919 1.95 5.798 3.146 2.788 1.781 5.194 3.322 7.553 3.334h9.886a2.34 2.34 0 1 0 0-4.68h-9.88c-.994-.006-3.243-1.442-5.043-2.593-3.218-2.054-6.858-4.381-10.713-4.381-3.75 0-7.39 2.327-10.601 4.381-1.807 1.15-4.056 2.587-5.031 2.594h-9.886a2.339 2.339 0 0 0-2.34 2.34 2.339 2.339 0 0 0 2.34 2.34h9.899c2.353-.013 4.758-1.554 7.54-3.335 1.865-1.19 3.894-2.457 5.798-3.133v21.288h-42.14v.012Zm42.121 59.885L86.99 133.991c2.886-2.749 8.567-8.158 11.03-10.517l3.634 1.566v23.498Zm26.019 39.955c0 5.883-4.777 10.667-10.66 10.667-5.882 0-10.66-4.777-10.66-10.66l-.02-.007v-29.081a12.62 12.62 0 0 0 0-1.865v-34.054c0-.935-.552-1.774-1.416-2.151l-6.481-2.789a2.35 2.35 0 0 0-2.58.501c-.683.689-13.839 13.195-13.839 13.195a2.345 2.345 0 0 0-.039 3.36l16.842 16.699a8.164 8.164 0 0 1 2.827 5.57v1.261a8.151 8.151 0 0 1-1.924 4.661c-2.84 3.309-11.472 3.828-14.84.962l-27.69-25.682c-3.412-2.925-3.822-8.079-1.078-11.31l23.497-22.08a2.345 2.345 0 0 0 .735-1.703v-10.66h47.32l.006 95.166Z'/></svg>
		</figure>
		<p class='text-center'>
				Próximamente
		</p>
	</div>
</section>
