---
import SectionTitle from '@components/SectionTitle.astro'
import ItemAgenda from '@components/ItemAgenda.astro'
import TimeZone from '@components/TimeZone.astro'

const DAY_ONE = [
	{
		time: 1716912000000,
		title: '¡Empieza la miduFest!',
		speaker: 'midudev'
	},
	{
		time: 1716913200000,
		title: 'Mente flexible, aprendizaje poderoso: Estrategias para adaptarte a tu cerebro',
		speaker: 'Rita Codes',
		className: '-mb-4',
		id: 'ritacodes'
	},
	{
		time: 1716915000000,
		title: 'Sorteos',
		speaker: 'midudev',
		className: '-mb-4'
	},
	{
		time: 1716915600000,
		title: 'Encontrar trabajo dev en tiempos loquísimos',
		speaker: 'Irene M. Morgado',
		id: 'irene',
		className: '-mb-3'
	},
	{
		time: 1716917400000,
		title: 'Sorteo',
		speaker: 'midudev'
	},
	{
		time: 1716917700000,
		title: 'Crecer en el mundo de la programación',
		speaker: 'Daniel de la Cruz',
		id: 'danidelacruz',
	},
	{
		time: 1716919500000,
		title: 'Sorteo teclado Keychron',
		speaker: 'Miguel Ángel Durán'
	},
	{
		time: 1716919800000,
		title: 'Proyecto IDX: El editor de Google en la nube',
		speaker: 'David East',
		id: 'davideast',
		className: '-mb-4'
	},
	{
		time: 1716921600000,
		title: 'Sorteo teclado Keychron',
		speaker: 'Miguel Ángel Durán'
	},
	{
		time: 1716921900000,
		title: 'El futuro de JavaScript',
		speaker: 'Romulo Cintra',
		id: 'romulo',
		className: '-mb-2'
	},
	{
		time: 1716923700000,
		title: 'Charla con Carmen, Goncy y Héctor',
		speaker: 'Carmen + Goncy + Héctor de León',
		className: '-mb-4'
	},
	{
		time: 1716925800000,
		title: 'Sorteo Final Sorpresa + Despedida',
		speaker: 'Miguel Ángel Durán'
	}
]
---


<section id='agenda' class='break-words text-white py-24 mx-auto max-w-prose md:px-2'>
	<SectionTitle
		title='Agenda' />
	<small class='text-primary font-semibold text-center block -mt-2'>Las horas están en tu zona horaria<TimeZone />
	</small>

	<h2 class='mt-8 text-2xl font-bold text-white text-center'>28 de mayo</h2>
	<h3 class='text-center font-semibold text-zinc-300'>Streaming en <a class='text-purple-300 hover:underline' href='https://twitch.tv/midudev' target='_blank' rel='noopener noreferrer'>https://twitch.tv/midudev</a></h3>

	<div class='flex flex-col gap-y-4 mt-8'>
		{
			DAY_ONE.map(day => <ItemAgenda {...day} />)
		}
	</div>
</section>
