---
import { Button } from '@components/Button.jsx'
import SectionTitle from '@components/SectionTitle.astro'
import ItemAgenda from '@components/ItemAgenda.astro';
---

<section id='agenda' class='break-words text-white py-24 mx-auto max-w-prose md:px-2'>
	<SectionTitle
		title='Agenda' />

	<h2 class='mt-8 mb-4 text-2xl font-bold text-white text-center'>Día 1 - 21 de marzo</h2>
	<div class='flex flex-col gap-y-4 pb-8'>
		<ItemAgenda hour='17:00' title='¡Hola, mundo! ¡Hola, miduFest!' speaker='Miguel Ángel Durán' />
		<ItemAgenda emoji='⏳' title='Muy pronto...' />
	</div>

	<h2 class='mt-8 mb-4 text-2xl font-bold text-white text-center'>Día 2 - 22 de marzo</h2>
	<div class='flex flex-col gap-y-4'>
		<ItemAgenda hour='17:00' title='¡Arrancamos el segundo día!' speaker='Miguel Ángel Durán' />
		<ItemAgenda emoji='⏳' title='Muy pronto...' />
	</div>

</section>
