---
import HyperDrive from '@components/HyperDrive.astro'
import Starfield from '@components/Starfield.astro'
---

<div class='absolute inset-0 pointer-events-none'>
	<Starfield />
	<HyperDrive class='z-0 w-full h-full' />
</div>
