---
import HyperDrive from '@components/HyperDrive.astro'
import Starfield from '@components/Starfield.astro'
---

<div class='absolute top-0 bottom-0 w-full'>
	<Starfield />
	<HyperDrive class='z-0 w-full h-full' />
</div>
