---
import { Button } from '@components/Button.jsx'
import SectionTitle from '@components/SectionTitle.astro';
---

<section id='contacto' class='break-words text-white py-24 mx-auto max-w-prose md:px-2'>
	<SectionTitle
		title='Contacto' />


</section>
