---
import { Countdown } from '@components/Countdown'
import Time from '@components/Time.astro';
---

<section id='top' class='flex-1 min-h-auto flex flex-col justify-start xl:justify-center pt-20'>
	<h1 class='text-primary text-xl xl:text-[54px] leading-none text-center font-black uppercase italic -rotate-[10deg] mb-10'>
		<span class='text-6xl lg:text-8xl xl:text-9xl block'>Evento</span>
		<span class='max-w-[38rem] m-auto block'>
			de Programación
		</span>
	</h1>

	<div class='text-center mt-10 flex justify-center items-center flex-col'>
		<h2 class='animate-fadeIn animate-delay-200 font-extrabold text-4xl lg:text-5xl text-white'>28 de mayo</h2>
		<h3 class='p-1 px-3 font-semibold rounded-full text-white rounded-all items-center  justify-center animate-fadeIn animate-delay-200 text-md'>
			Streaming en <a class='font-semibold text-primary hover:underline ' target='_blank' rel='noopener noreferrer' href='https://twitch.tv/midudev'>
			twitch.tv/midudev</a>
		</h3>

		<div class='m-auto mt-10 animate-fadeIn animate-delay-500'>
			<a href='https://discord.gg/u8zGuver?event=1219320101975756893' class='text-2xl inline-block hover:rotate-1 px-6 py-2 z-10 opacity-[99%] font-semibold bg-primary border-2 border-black text-black rounded hover:scale-125 transition-all'>
				Guardar fecha del evento
			</a>

		</div>
	</div>
</section>
