---
import { Countdown } from '@components/Countdown'
import { GetTicketButton } from '@components/GetTicketButton'
import { TicketCount } from '@components/TicketCount'
---

<section id='top' class='flex-1 min-h-auto flex flex-col justify-start xl:justify-center xl:min-h-screen'>
	<h1 class='text-primary text-xl xl:text-[54px] leading-none text-center font-black uppercase italic -rotate-[10deg] mb-10'>
		<span class='text-6xl lg:text-8xl xl:text-9xl block'>Evento</span>
		<span class='max-w-[38rem] m-auto block'>
			de Programación
		</span>
	</h1>

	<div class='text-center mt-10 flex justify-center items-center flex-col'>
		<h2 class='animate-fadeIn animate-delay-200 font-extrabold text-4xl lg:text-5xl text-white'>21 y 22 de marzo</h2>
		<h3 class='px-8 font-semibold rounded-full bg-purple-800 text-white rounded-all items-center  justify-center animate-fadeIn animate-delay-200 text-md mt-2'>
			<script is:inline>
				const d = new Date(1679414400000)
				const date = d.toLocaleTimeString('es-ES', { hour12: false, hour: '2-digit' })
				const diff = new Date().getTimezoneOffset() / 60 * -1
				const gmt = diff > 0 ? `GMT+${diff}` : `GMT-${Math.abs(diff)}`
				const selfScript = document.currentScript
				selfScript.parentNode.innerHTML = `${date}:00 ${gmt}`
				/* eslint-disable no-trailing-spaces */
			</script>
			<span class='px-2'>·</span> Streaming en <a class='font-semibold text-primary hover:underline ' target='_blank' rel='noopener noreferrer' href='https://twitch.tv/midudev'>
			twitch.tv/midudev</a>
		</h3>

		<div class='m-auto mt-8 animate-fadeIn animate-delay-500'>
			<Countdown targetDate={new Date(1679414400000)} client:visible />
		</div>

		<footer class='mt-0'>
			<div class='flex gap-x-8 mt-4 justify-center'>
				<div class='relative'>
					<svg class='w-[300px] sm:w-[500px]' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 688 350.8' viewBox='0 0 688 350.8'><path d='M57.7 350.1c-7.1 1.3-13.4.7-18.8-1.6s-9.6-6.3-12.7-12.2c-3-5.9-4.6-13.5-4.6-22.9l.2-48.2c0-5.6-1.1-9.6-3.3-11.9s-5.3-3-9.2-2.3l-8.9 1.6.1-33.6 9-1.6c4.2-.8 7.4-2.6 9.4-5.5s2.9-7.2 2.9-12.9l.4-53.2c.1-13 3.1-23.1 8.7-30.4s14.9-12.1 27.8-14.4L630.4.7c7.1-1.3 13.4-.7 18.8 1.6s9.6 6.3 12.7 12.2c3 5.9 4.6 13.5 4.6 22.9l-.5 48.2c0 5.6 1.1 9.6 3.4 11.8 2.3 2.2 5.3 3 9 2.3l8.9-1.6.2 33.6-9 1.6c-4.2.8-7.4 2.6-9.4 5.5s-2.9 7.2-2.9 12.9l-.5 53.2c-.1 13-3 23.1-8.7 30.4s-14.9 12.1-27.8 14.4L57.7 350.1z' style='fill:none;stroke:#222'/><path d='M646.6 206c-.1 6.8-1.7 12.5-4.8 17.1s-8.3 7.5-15.7 8.8L60.8 331.3c-5.9 1.1-10.8-.3-14.6-3.9-3.8-3.7-5.7-10.3-5.7-19.8l.4-45.7c0-8.3-1.5-14.2-4.7-17.9-3.2-3.7-7.5-5.5-13.1-5.6l-.1-13.2c4.5-1.6 8.1-3.6 10.6-5.9s4.4-5.4 5.6-9.2c1.2-3.8 1.8-8.8 1.8-15l.3-50.7c.1-6.8 1.7-12.5 4.9-17.1 3.2-4.6 8.4-7.5 15.6-8.8l565.4-99.4c5.9-1.1 10.8.3 14.6 3.9 3.8 3.7 5.7 10.3 5.7 19.8l-.4 45.7c0 8.3 1.5 14.2 4.7 17.9s7.5 5.5 13.1 5.6l.1 13.3c-4.4 1.4-7.9 3.3-10.6 5.6s-4.5 5.4-5.6 9.2-1.7 8.9-1.9 15.4l-.3 50.5zm5.3-50.6-.3 50.7c-.1 7.6-1.9 14.3-5.6 19.8-4.1 6.1-10.8 9.5-19 10.9L61.7 336.3c-7.3 1.3-13.8-.3-19-5.2-5.3-5.1-7.2-13.5-7.2-23.4l.4-45.7c0-7.9-1.5-12.3-3.5-14.6-2.1-2.4-5-3.8-9.4-3.8h-4.9l-.1-21.9 3.3-1.2c4.1-1.5 7-3.2 9-4.9 1.8-1.6 3.2-3.9 4.2-7 1-3.2 1.6-7.6 1.6-13.6l.3-50.7c.1-7.6 1.9-14.3 5.8-19.9 4.1-6 10.7-9.4 18.8-10.9l565.3-99.4c7.3-1.3 13.8.3 19 5.2 5.3 5.1 7.2 13.5 7.2 23.4l-.4 45.7c0 7.9 1.5 12.3 3.5 14.6 2.1 2.4 5 3.8 9.4 3.8h4.9l.1 21.9-3.5 1.1c-3.9 1.3-6.8 2.8-8.8 4.6-1.8 1.6-3.2 3.8-4.1 6.8-.9 3.4-1.5 8-1.7 14.2z' style='fill-rule:evenodd;clip-rule:evenodd;fill:#ffd200'/></svg>

					<div class='absolute bottom-12 sm:bottom-20 left-0 w-full'>
						<strong class='text-[4ch] sm:text-[8ch] leading-none block italic text-white font-black -rotate-[10deg]'>
							#<TicketCount client:idle />
						</strong>
						<span class='block text-sm w-full -rotate-[10deg] text-primary font-semibold left-0 italic'>tickets registrados</span>
					</div>
				</div>
			</div>
			<div class='-mt-10'>
				<GetTicketButton client:visible />
			</div>
		</footer>
	</div>
</section>
