---
import { Countdown } from '@components/Countdown'
import { GetTicketButton } from '@components/GetTicketButton'
import { TicketCount } from '@components/TicketCount'
import Time from '@components/Time.astro';
---

<section id='top' class='flex-1 min-h-auto flex flex-col justify-start xl:justify-center xl:min-h-screen'>
	<h1 class='text-primary text-xl xl:text-[54px] leading-none text-center font-black uppercase italic -rotate-[10deg] mb-10'>
		<span class='text-6xl lg:text-8xl xl:text-9xl block'>Evento</span>
		<span class='max-w-[38rem] m-auto block'>
			de Programación
		</span>
	</h1>

	<div class='text-center mt-10 flex justify-center items-center flex-col'>
		<h2 class='animate-fadeIn animate-delay-200 font-extrabold text-4xl lg:text-5xl text-white'>21 y 22 de marzo</h2>
		<h3 class='px-8 font-semibold rounded-full bg-purple-800 text-white rounded-all items-center  justify-center animate-fadeIn animate-delay-200 text-md mt-2'>
			Streaming en <a class='font-semibold text-primary hover:underline ' target='_blank' rel='noopener noreferrer' href='https://twitch.tv/midudev'>
			twitch.tv/midudev</a>
		</h3>

		<strong class='text-white font-bold mt-10'>
			¡Ya terminó! Pero puedes...
		</strong>

		<div class='m-auto mt-2 animate-fadeIn animate-delay-500'>
			<a href='https://miduconf.com' class='text-2xl inline-block hover:rotate-1 px-6 py-2 z-10 opacity-[99%] font-semibold bg-primary border-2 border-black text-black rounded hover:scale-125 transition-all'>
				¡Ir a la miduConf!
			</a>

			<a href='http://d.wztps.io/v/sL7jqcC3c7dL8CRXQndJ' class='text-2xl inline-block hover:rotate-1 px-6 py-2 z-10 opacity-[99%] font-semibold bg-white border-2 border-black text-black rounded hover:scale-125 transition-all'>
				Ver las ilustraciones
			</a>
		</div>
	</div>
</section>
