---
import SectionTitle from '@components/SectionTitle.astro'
import type { RealtimeChannel } from '@supabase/supabase-js'
import SpeakerCard from '@components/SpeakerCard.astro'

const speakers = [
	{
		id: 'teffcode',
		name: 'Estefany Aguilar',
		title: 'De JavaScript a React',
		description: '쮺칩mo pasar del mundo de JavaScript al mundo de React? Te contar칠 c칩mo aprender React desde lo que ya has aprendido en JavaScript haciendo un versus entre ambos y revisando los temas m치s importantes para comenzar.',
		twitter: 'teffcode',
		github: 'teffcode'
	},
	{
		id: 'davideast',
		name: 'David East',
		title:
			'Rendimiento web: JavaScript y todos los errores que estamos cometiendo',
		twitter: '_davideast',
		github: 'davideast',
		description:
			'쯈u칠 tan r치pido debe cargar su sitio web? 쯈uiz치s 5 o 6 segundos? 쮺칩mo lo sabes realmente? 쯇or qu칠 tu web va lenta? Cometemos muchos errores al desarrollar sitios con JavaScript. En esta charla, exploraremos algunos de los problemas m치s comunes y no tan comunes en los sitios web. Tambi칠n aprenderemos c칩mo podemos monitorear los datos reales provenientes de usuarios reales para tomar mejores decisiones.'
	},
	{
		id: 'lizz',
		name: 'Lizz Parody',
		title: 'Nuevas features en Node.js que deber칤as conocer',
		description: '춰Node.js est치 cambiando! En esta charla veremos las nuevas features que se est치n implementando en Node.js y c칩mo podemos aprovecharlas en nuestros proyectos.',
		twitter: 'LizzParody',
		github: 'LizzParody'
	},
	{
		id: 'irene',
		name: 'Irene M Morgado',
		title: 'Encontrar trabajo dev en tiempos loqu칤simos',
		description:
			'El mundo est치 fatal. Cada d칤a tenemos nuevas noticias de inestabilidad en proyectos y empresas tech, grandes y peque침as. La realidad est치 cambiando y hay nuevos enfoques en procesos de selecci칩n, proyectos de engagement y de cultura. En esta charla hablaremos de c칩mo identificar proyectos que valgan la pena y c칩mo hacer valer nuestro CV en organizaciones que nos interesen.',
		twitter: 'IrnMM'
	},
	{
		id: 'pombo',
		name: 'Rodrigo Pombo',
		title: 'Exprimiendo los React Server Components: 춰Syntax Highlighting desde el servidor!',
		description: 'Los RSC desbloquean muchas posibilidades a la hora de construir webs con React con mejor rendimiento. En esta charla te voy a ense침ar c칩mo los estoy usando para crear una biblioteca que hace Syntax Highlighting con 0 JS en el cliente.',
		twitter: 'pomber',
		github: 'pomber'
	},
	{
		id: 'carmen',
		name: 'Carmen Ansio',
		title: 'Back to the future CSS edition',
		description:
			'Acompa침adme en este viaje para descubrir las 칰ltimas funcionalidades de CSS. Haremos una revisi칩n de las nuevas propiedades y de las que veremos este 2023.',
		twitter: 'carmenansio',
		github: 'carmenansio'
	},
	{
		id: 'bolonio',
		name: 'Adri치n Bolonio',
		title: '춰Este c칩digo es una ruina!: Estrategias de accesibilidad web',
		description:
			'Es tu primera semana en tu nuevo trabajo, empiezas a investigar el c칩digo y te das cuenta de que el producto es complemente inaccesible. Y piensas: 쯇or d칩nde empiezo? 쮺u치l es la mejor estrategia para convertir un producto maduro en un producto accesible? 쯈u칠 herramientas uso?',
		twitter: 'bolonio',
		github: 'bolonio'
	},
	{
		id: 'hdeleon',
		name: 'H칠ctor de Le칩n',
		title: 'Patrones de Dise침o y Cervezas',
		description: '쯈uieres mejorar en programaci칩n? Pues necesitas dominar los patrones de dise침o. No te preocupes, te voy a ense침ar los patrones de dise침o m치s famosos en programaci칩n m치s famosos... explicado con cervezas 游꽄.',
		twitter: 'powerhdeleon',
		github: 'powerhdeleon'
	},
	{
		id: 'goncy',
		name: 'Goncy Pozzo',
		title: 'Ni est치tico ni din치mico, ambos. Usando Next.js cache con app directory.',
		description: 'En versiones actuales de Next.js, nuestras p치ginas pueden ser est치ticas (getStaticProps), din치micas (getServerSideProps) o si quer칠mos obtener algo intermedio debemos hacerlo del lado del cliente, lo que generalmente implica agregar librer칤as o boilerplate. Vamos a ver como usar Next.js cache para mover lo est치tico, desde nuestra p치gina a cada request de manera independiente.',
		twitter: 'goncy',
		github: 'goncy'
	}
]
---

<section
	id='speakers'
	class='break-words text-white py-24 mx-auto max-w-prose md:px-2 min-h-screen mt-28'
>
	<SectionTitle title='Speakers' />

	<div
		class='py-24 flex items-center justify-center flex-col text-center gap-y-8'
	>
		<ul
			class='-rotate-[10deg] flex flex-row flex-wrap gap-x-2 text-center items-center justify-center pb-24 mx-0 px-4 lg:-mx-36'
		>
			{
				speakers.map((speaker, index) => (
					<>
						<li>
							<a
								class='font-black text-2xl md:text-5xl italic text-primary hover:text-white hover:scale-125 transition uppercase hover:[text-shadow:0_0_25px_#000]'
								href={`/#${speaker.id}`}
							>
								{speaker.name}
							</a>
						</li>
						{index !== speakers.length - 1 && (
							<li class='font-black text-2xl italic text-primary'>췅</li>
						)}
					</>
				))
			}
		</ul>

		<ul>
			{
				speakers.map((speaker) => (
					<li class='min-h-screen'>
						<SpeakerCard speaker={speaker} />
					</li>
				))
			}
		</ul>
	</div>
</section>
