---
import SectionTitle from '@components/SectionTitle.astro'
import SpeakerCard from '@components/SpeakerCard.astro'

const speakers = [
	{
		id: 'teffcode',
		name: 'Estefany Aguilar',
		title: 'De JavaScript a React',
		description: '¿Cómo pasar del mundo de JavaScript al mundo de React? Te contaré cómo aprender React desde lo que ya has aprendido en JavaScript haciendo un versus entre ambos y revisando los temas más importantes para comenzar.',
		twitter: 'teffcode',
		github: 'teffcode'
	},
	{
		id: 'davideast',
		name: 'David East',
		title:
			'Rendimiento web: JavaScript y todos los errores que estamos cometiendo',
		twitter: '_davideast',
		github: 'davideast',
		description:
			'¿Qué tan rápido debe cargar su sitio web? ¿Quizás 5 o 6 segundos? ¿Cómo lo sabes realmente? ¿Por qué tu web va lenta? Cometemos muchos errores al desarrollar sitios con JavaScript. En esta charla, exploraremos algunos de los problemas más comunes y no tan comunes en los sitios web. También aprenderemos cómo podemos monitorear los datos reales provenientes de usuarios reales para tomar mejores decisiones.'
	},
	{
		id: 'irene',
		name: 'Irene M Morgado',
		title: 'Encontrar trabajo dev en tiempos loquísimos',
		description:
			'El mundo está fatal. Cada día tenemos nuevas noticias de inestabilidad en proyectos y empresas tech, grandes y pequeñas. La realidad está cambiando y hay nuevos enfoques en procesos de selección, proyectos de engagement y de cultura. En esta charla hablaremos de cómo identificar proyectos que valgan la pena y cómo hacer valer nuestro CV en organizaciones que nos interesen.',
		twitter: 'IrnMM'
	},
	{
		id: 'bolonio',
		name: 'Adrian Bolonio',
		title: '¡Este código es una ruina: estrategias de accesibilidad web!',
		description:
			'Es tu primera semana en tu nuevo trabajo, empiezas a investigar el código y te das cuenta de que el producto es complemente inaccesible. Y piensas: ¿Por dónde empiezo? ¿Cuál es la mejor estrategia para convertir un producto maduro en un producto accesible? ¿Qué herramientas uso?',
		twitter: 'bolonio',
		github: 'bolonio'
	},
	{
		id: 'carmen',
		name: 'Carmen Ansio',
		title: 'Back to the future CSS edition',
		description:
			'Acompañadme en este viaje para descubrir las últimas funcionalidades de CSS. Haremos una revisión de las nuevas propiedades y de las que veremos este 2023.',
		twitter: 'carmenansio',
		github: 'carmenansio'
	},
	{
		id: 'lizz',
		name: 'Lizz Parody',
		title: 'Nuevas features en Node.js que deberías conocer',
		description: '¡Node.js está cambiando! En esta charla veremos las nuevas features que se están implementando en Node.js y cómo podemos aprovecharlas en nuestros proyectos.',
		twitter: 'LizzParody',
		github: 'LizzParody'
	},
	{
		id: 'goncy',
		name: 'Goncy Pozzo',
		title: 'Ni estático ni dinámico, ambos. Usando Next.js cache con app directory.',
		description: 'En versiones actuales de Next.js, nuestras páginas pueden ser estáticas (getStaticProps), dinámicas (getServerSideProps) o si querémos obtener algo intermedio debemos hacerlo del lado del cliente, lo que generalmente implica agregar librerías o boilerplate. Vamos a ver como usar Next.js cache para mover lo estático, desde nuestra página a cada request de manera independiente.',
		twitter: 'goncy',
		github: 'goncy'
	}
]
---

<section
	id='speakers'
	class='break-words text-white py-24 mx-auto max-w-prose md:px-2 min-h-screen mt-28'
>
	<SectionTitle title='Speakers' />

	<div
		class='py-24 flex items-center justify-center flex-col text-center gap-y-8'
	>
		<ul
			class='-rotate-[10deg] flex flex-row flex-wrap gap-x-4 text-center items-center justify-center pb-40'
		>
			{
				speakers.map((speaker, index) => (
					<>
						<li class='inline-block'>
							<a
								class='font-black text-3xl italic text-primary hover:text-white hover:scale-125 transition uppercase inline-block hover:[text-shadow:0_0_25px_#000]'
								href={`/#${speaker.id}`}
							>
								{speaker.name}
							</a>
						</li>
						{index !== speakers.length - 1 && (
							<li class='font-black text-2xl italic text-primary'>·</li>
						)}
					</>
				))
			}
		</ul>

		<ul>
			{
				speakers.map((speaker) => (
					<li class='min-h-screen'>
						<SpeakerCard speaker={speaker} />
					</li>
				))
			}
		</ul>
	</div>
</section>
