---
import SectionTitle from '@components/SectionTitle.astro'
import SpeakerCard from '@components/SpeakerCard.astro'

const speakers = [
	// {
	// 	id: 'teffcode',
	// 	name: 'Estefany Aguilar',
	// 	title: 'De JavaScript a React',
	// 	description: '¿Cómo pasar del mundo de JavaScript al mundo de React? Te contaré cómo aprender React desde lo que ya has aprendido en JavaScript haciendo un versus entre ambos y revisando los temas más importantes para comenzar.',
	// 	twitter: 'teffcode',
	// 	github: 'teffcode'
	// },
	{
		id: 'ritacodes',
		name: 'Rita Codes',
		title:
			'Mente flexible, aprendizaje poderoso: Estrategias para adaptarte a tu cerebro',
		twitter: 'rita_codes',
		github: 'rita_codes',
		description:
			'En el contexto del desarrollo de software en constante cambio (y en la vida en general), la habilidad de aprender a aprender es crucial y nos puede proporcionar grandes ventajas, no solo como “aprendientes” si no ayudando a otros a aprender mejor.'
	},
	{
		id: 'romulo',
		name: 'Romulo Cintra',
		title:
			'Lo que viene a JavaScript: el TC39, paso a paso.',
		twitter: 'romulocintra',
		github: 'romulocintra',
		description:
			'Una mirada a las propuestas más recientes e interesantes en diferentes etapas. Además... ¿Alguna vez te has preguntado cómo evoluciona JavaScript y cómo está disponible casi en todas partes? Vamos a hacer un recorrido sobre cómo trabaja TC39 (el comité técnico responsable de ECMAScript) '
	},
	{
		id: 'davideast',
		name: 'David East',
		title:
			'Proyecto IDX: El editor de Google en la nube',
		twitter: '_davideast',
		github: 'davideast',
		description:
			'Aprende a sacar el máximo partido al editor IDX. ¿Qué ventajas tiene? Inteligencia Artificial integrada, simulador de dispositivos móviles y muchas cosas más.'
	},
	{
		id: 'irene',
		name: 'Irene M. Morgado',
		title: 'Developer Xperience',
		description:
			'¿Qué contestas a la pregunta: "¿Qué tal te va en tu empresa?" ? No siempre es fácil responder. En esta charla aprendemos más sobre Employee Xperience y descubrirás herramientas muy prácticas para que identifiques tu estado real en el trabajo. Así, podrás decidir si es momento de iterar hablando con tu manager de forma más convincente, o levantar el vuelo y buscar otro proyecto.',
		twitter: 'IrnMM'
	},
	{
		id: 'carmen',
		name: 'Carmen Ansio',
		title: 'Charlando con...',
		description:
			'Hablamos con Carmen Ansio sobre el mundo de la programación y consejos para mejorar tus habilidades',
		twitter: 'carmenansio',
		github: 'carmenansio'
	},
	{
		id: 'hdeleon',
		name: 'Héctor de León',
		title: 'Charlando con...',
		description: 'Hablamos con Hector de Leon sobre el mundo de la programación y consejos para mejorar tus habilidades',
		twitter: 'powerhdeleon',
		github: 'powerhdeleon'
	},
	{
		id: 'goncy',
		name: 'Goncy Pozzo',
		title: 'Charlando con...',
		description:
			'Hablamos con Goncy Pozzo sobre el mundo de la programación y consejos para mejorar tus habilidades',
		twitter: 'goncy',
		github: 'goncy'
	},
	{
		id: 'danidelacruz',
		name: 'Dani de la Cruz',
		title: 'Encontrar trabajo en programación',
		description: 'Trucos y consejos para encontrar trabajo en estos tiempos en el mundo de la programación',
		twitter: 'danidlcdev',
		github: 'delacruz-dev'
	}
]
---

<section
	id='speakers'
	class='break-words text-white py-24 mx-auto max-w-prose md:px-2  mt-28'
>
	<SectionTitle title='Los Speakers' />

	<div
		class='py-24 flex items-center justify-center flex-col text-center gap-y-8'
	>
		<ul
			class='-rotate-[10deg] flex flex-row flex-wrap gap-x-2 text-center items-center text-wrap justify-center pb-24 mx-0 px-4 lg:-mx-36'
		>
			{
				speakers.map((speaker, index) => (
					<>
						<li>
							<a
								class='font-black text-2xl md:text-4xl italic text-primary hover:text-white hover:scale-125 transition uppercase hover:[text-shadow:0_0_25px_#000]'
								href={`/#${speaker.id}`}
							>
								{speaker.name}
							</a>
						</li>
						{index !== speakers.length - 1 && (
							<li class='font-black text-2xl italic text-primary'>·</li>
						)}
					</>
				))
			}
		</ul>

		<ul>
			{
				speakers.map((speaker) => (
					<li class='pb-10'>
						<SpeakerCard speaker={speaker} />
					</li>
				))
			}
		</ul>
	</div>
</section>
