---
import PatrocinadorBox from '@components/PatrocinadorBox.astro'
import SectionTitle from '@components/SectionTitle.astro';
---

<section id='sponsors' class='break-words text-white py-24 mx-auto max-w-prose md:px-2 min-h-screen mt-28'>
	<SectionTitle
		title='Patrocinadores' />

	<div class='w-full flex flex-row flex-nowrap gap-4 mb-4 justify-center items-center'>
		<PatrocinadorBox img='softtek.webp' href='https://www.softtek.com/es-es/' />
		<PatrocinadorBox img='autentia.webp' href='https://autentia.com' />
	</div>

	<div class='w-full flex flex-row flex-nowrap gap-4 mb-4 justify-center items-center'>
		<PatrocinadorBox img='leanmind.svg' href='https://leanmind.es/es/' />
		<PatrocinadorBox img='cabify.svg' href='https://cabify.careers/es/jobs?search=engineer' />
	</div>

	<div class='flex gap-4 justify-center items-center'>
		<PatrocinadorBox size='md' img='codely.webp' href='https://codely.tv/pro/midudev' />
		<PatrocinadorBox size='md' img='rapidapi.webp' href='https://midu.link/api' />
		<PatrocinadorBox size='md' img='cohere.webp' href='https://midu.link/ia' />
	</div>
	<div class='flex gap-4 justify-center items-center mt-4'>
		<PatrocinadorBox size='md' img='twitch.webp' href='https://twitch.tv/midudev' />
		<PatrocinadorBox size='md' img='github.webp' href='https://github.com' />
	</div>
</section>
