---
import Layout from '../layouts/Layout.astro'
import HyperDrive from '../components/HyperDrive.astro'
import Starfield from '../components/Starfield.astro'
import Logo from '../components/Logo.astro';
---

<Layout title='midufest'>
	<div class='absolute top-0 bottom-0 w-full'>
		<Starfield noGradient />
		<HyperDrive class='z-0 w-full h-full' />
	</div>
	<main class='grid place-content-center w-screen h-screen'>
		<section class='flex items-center flex-col gap-y-8'>
			<div>
				<Logo />
			</div>
			<div class='-rotate-[10deg] text-center'>
				<h2 class='italic font-bold text-4xl text-white'>21 de marzo</h2>
				<h3 class='italic text-white/80'>17:00 horas GMT+1 · Streaming en twitch.tv/midudev</h3>
			</div>
		</section>
	</main>
</Layout>

