---
const { className = '', disabled, href, isExternal, title } = Astro.props
const anchorProps = isExternal ? { target: '_blank', rel: 'noopener' } : {}
---

<a class={`
	${className}
	${disabled ? 'text-white' : 'text-primary'}
	group relative py-3 leading-tight font-extrabold text-xl transition hover:text-white xl:text-2xl`
}
href={disabled ? '#' : href}
{...anchorProps}>
	{disabled ? <span class='transition-opacity duration-500 opacity-0 group-hover:opacity-100 absolute text-xs rounded-full -top-2 py-1 left-0 right-0 m-auto w-full  text-primary font-semibold'>Próximamente</span> : ''}
	<span class={disabled ? 'opacity-70' : ''}>{title}</span>
</a>

<style>
  a::before, a::after {
    content: '';
    font-weight: 400;
    position: absolute;
    color: #FFD200;
    opacity: 0;
    left: -15px;
    content: '{';
    transition: opacity 0.5s ease;
  }

  a::after {
    left: unset;
    right: -15px;
    content: '}';
  }

  a:hover::before,
  a:hover::after {
    opacity: 1;
  }
</style>
