---
import Link from './Link.astro'
import Logo from './Logo.astro'

const NAVIGATION_LINKS = [{
	title: 'Inicio',
	href: '#top'
}, {
	title: 'Patrocinadores',
	href: '#sponsors',
	disabled: true
}, {
	title: 'Agenda',
	href: '#agenda',
	disabled: true
}, {
	title: 'Speakers',
	href: '#speakers',
	disabled: true
}, {
	title: 'Tickets',
	href: '#tickets',
	disabled: true
}, {
	title: 'Contacto',
	href: '#contact',
	disabled: true
}, {
	title: 'Código de conducta',
	href: '#coc'
}]
---

<aside class='flex flex-col items-center lg:sticky top-24'>
	<Logo />
	<nav class='mt-24 text-center'>
		<ul class='flex flex-col gap-y-8 mb-20'>
			{
				NAVIGATION_LINKS.map(({ disabled, title, href }) => {
					return <li>
						<Link disabled={disabled} href={href} title={title} />
					</li>
				})
			}
		</ul>
		<span class='text-white opacity-70'>Desarrollado moviendo las manitas 👋</span>
	</nav>
</aside>

