---
const { img, href, size } = Astro.props
---

<article class='flex justify-center items-center w-1/3'>
	<a class='group p-8 bg-white/10 border border-white/10 rounded-xl hover:border-white/30 hover:bg-white/20 transition w-full h-48 flex items-center justify-center' href={href} target='_blank' rel='noopener noreferrer nofollow'>
		<img class='group-hover:grayscale-0 group-hover:scale-105 group grayscale transition-all w-full h-auto' src={`/${img}`} alt={`Logo de la empresa ${img}`} />
	</a>
</article>
