---
export interface Props {
    subtle?: boolean;
}
const { subtle } = Astro.props as Props;
---

<div class:list={[
  'pointer-events-none bg-black',
  'fixed inset-0 -z-50',
  subtle && 'bg-[length:100%_175%]'
]}>
    <div class='starfield absolute inset-0' />
</div>

<style>
.starfield {
    background-image: url(/background.webp);
    background-repeat: no-repeat;
		background-size: cover;
}
</style>
