---
import '@fontsource/montserrat/400.css'
import '@fontsource/montserrat/400-italic.css'
import '@fontsource/montserrat/600.css'
import '@fontsource/montserrat/600-italic.css'
import '@fontsource/montserrat/800.css'
import '@fontsource/montserrat/800-italic.css'
import '@fontsource/montserrat/900-italic.css'

import Navigation from '@components/Navigation.astro'
import Background from '@components/sections/Background.astro'

export interface Props {
	ticketUserName: string;
	title: string;
}

const { title, ticketUserName } = Astro.props

const ogImage = ticketUserName
	? `https://midufest.com/api/ticket?username=${ticketUserName}`
	: 'https://midufest.com/og.jpg'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='description' content='Conferencia de Programación y Desarrollo en Twitch' />
		<meta name='keywords' content='programacion, desarrollo, javascript, typescript, conferencia, midudev' />
		<meta name='author' content='Miguel Ángel Durán' />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:site' content='@midudev' />
		<meta name='twitter:creator' content='@midudev' />
		<meta name='twitter:title' content='MiduFest: Conferencia de Programación y Desarrollo' />
		<meta name='twitter:description' content='Conferencia de Programación y Desarrollo en Twitch' />
		<meta name='twitter:image' content={ogImage} />
		<meta name='og:image' content={ogImage} />
		<meta name='og:title' content='MiduFest: Conferencia de Programación y Desarrollo' />
		<meta name='og:description' content='Conferencia de Programación y Desarrollo en Twitch' />
		<meta name='og:url' content='https://midufest.com' />
		<meta name='og:site_name' content='MiduFest' />
		<meta name='og:type' content='website' />
		<meta name='og:locale' content='es_ES' />
		<meta name='robots' content='index, follow' />
		<meta name='googlebot' content='index, follow' />
		<title>{title}</title>
	</head>
	<body>
		<wc-toast></wc-toast>
		<Background />

		<div class='flex flex-col xl:flex-row justify-between m-auto xl:gap-x-24 xl:w-[1200px] mt-24 md:mt-10 xl:mt-0'>
			<div class='w-full xl:w-52'>
				<Navigation />
			</div>

			<main class='flex-1 relative px-6'>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	html {
    font-family: "Montserrat", system-ui, sans-serif;
		scroll-behavior: smooth;
  }

	body {
		background: #000;
	}
</style>

<script>
	// detect if url has query string ticket
	const urlParams = new URLSearchParams(window.location.search)
	const ticket = urlParams.get('ticket')
	const sessionTicket = sessionStorage.getItem('ticket')
	console.log({ sessionTicket })

	setTimeout(() => {
		// scroll to ticket hash
		if (ticket || sessionTicket) {
			sessionStorage.removeItem('ticket')
			window.location.hash = '#ticket'
			document.getElementById('ticket')?.scrollIntoView({ behavior: 'auto' })
		}
	}, 200)
</script>
