---
import '@fontsource/montserrat/400.css'
import '@fontsource/montserrat/400-italic.css'
import '@fontsource/montserrat/600.css'
import '@fontsource/montserrat/600-italic.css'
import '@fontsource/montserrat/800.css'
import '@fontsource/montserrat/800-italic.css'
import '@fontsource/montserrat/900-italic.css'

import Navigation from '@components/Navigation.astro'
import Background from '@components/sections/Background.astro'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<wc-toast></wc-toast>
		<Background />

		<div class='pt-4 xl:pt-24 flex flex-col xl:flex-row justify-between m-auto xl:gap-x-24 xl:w-[1200px]'>
			<div class='w-full xl:w-52'>
				<Navigation />
			</div>

			<main class='flex-1 relative px-6'>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	html {
    font-family: "Montserrat", system-ui, sans-serif;
		scroll-behavior: smooth;
  }

	body {
		background: #000;
	}
</style>
